<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Welcome to NMF-Based Movie Recommender</title>
</head>
<body>
    <div class="container">
        <h1>NMF-Based Movie Recommender</h1>
        <p>Rate the following movies on a scale of 0-5 🌟</p>
        <form action="/results">
            Twelve Monkeys: <input class="input-placeholder" type="text" name="Twelve Monkeys (a.k.a. 12 Monkeys) " placeholder="0-5"><br>
            Alien: <input class="input-placeholder" type="text" name="Alien " placeholder="0-5"><br>
            Spider-Man: <input class="input-placeholder" type="text" name="Spider-Man " placeholder="0-5"><br>
            Princess Bride: <input class="input-placeholder" type="text" name="Princess Bride, The " placeholder="0-5"><br>
            Lord of the Rings - The Fellowship of the Ring: <input class="input-placeholder" type="text" name="Lord of the Rings: The Fellowship of the Ring, The " placeholder="0-5"><br>
            <input id="submit-button" type="submit" value="🍿">
    </div>
</body>
</html>